body {
  background-color: #070724;
  background-size: cover;
}

.planet-background {
  height: 100%;
  width: 100%;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap');





.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 200; 
  border-bottom: 1px solid white;
  color: white;
  font-family: 'Antonio', sans-serif;
}

.header h1 {
  position: relative;
  right: -2%;
  font-size: 28px;
}

.header p {
  position: relative;
  letter-spacing: 0.2em;
  padding: 20px;
  font-size: 14px;
  left: 40%;

}